@media screen and (max-width: 768px) {
#both-selected {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    z-index: 2000;
    text-align: center;
    top: 54%;
    left: 50%;
    transform: translate(-50%);
    background-color: #e6e2e2;
    width: 100vw;
    min-height: 110vh; /* גובה מינימלי */
    direction: rtl;
    height: auto; /* הגובה מתאים לתוכן */
}


.combined-title{
  font-family: "Karantina";
  color: #6a6f77;
  font-size: 3.2em;
  font-weight: 500;
  margin-top: 15vh;
  position: absolute;
  width: 100vw;
  text-align: center;
  right: 50%;
  transform: translateX(50%);
}
.combined-role{
  font-family: "Karantina";
  color: #eeeeee;
  font-size: 2.5em;
  padding: 1vh;
  font-weight: 500;
  margin-top: 31vh;
  position: absolute;
  width: 100vw;
  text-align: center;
  right: 50%;
  height: 7vh;
  transform: translateX(50%);
}

.page-title{
       margin-top: 5vh;
    position: absolute;
    font-family: "Heebo";
    direction: rtl;
    font-size: 1.2em;
    color: #595959;
    font-weight: 700;
    width: 100vw;
    margin-bottom: 4vh;

}



.situation-discription{
    font-family: "Heebo";
    padding-right: 5%;
    font-size: 1.2em;
    text-align: right;
    color:black
}

.tasks-list {
  list-style-type: none; /* מסיר את הסימונים המובנים של רשימה */
  padding: 0; /* מסיר ריפוד */
  margin: 0; /* מסיר רווחים */
  text-align: right; /* ממקם את כל התוכן לימין */
}

.task-item {
    display: flex; /* עושה פריסה גמישה */
    align-items: center; /* מרכז את תיבת הסימון עם התיאור */
    margin: 0.8vh; /* מרווח בין משימות */
}

.task-item input {
  margin-right: 10px; /* מרווח בין תיבת הסימון לתיאור */
}

.task-description {
  display: inline-block; /* עוזר למקם את התיאור בשורה */
}



.mine-checkbox {
    width: 5vw; /* רוחב ה-checkbox */
    height: 5vw; /* גובה ה-checkbox */
    border: 2px solid black; /* גבול שחור */
    border-radius: 0; /* לא מעוגל */
    appearance: none; /* הסרת העיצוב הסטנדרטי */
    cursor: pointer; /* מצביע על כך שניתן ללחוץ */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* צל */
    margin-right: 3vw; /* רווח מוגדל בין ה-checkbox לטקסט */
    position: relative; /* מיקום יחסי */
}

/* שינוי עיצוב ה-checkbox כאשר הוא מסומן */
.mine-checkbox:checked {
    background-color: black; /* צבע הרקע כאשר מסומן */
    border-color: black; /* שינוי צבע הגבול כאשר מסומן */
}

/* הוספת סימן V כאשר ה-checkbox מסומן */
.mine-checkbox:checked::before {
    content: '✓'; /* סימן V */
    position: absolute; /* מיקום מוחלט */
    color: white; /* צבע הסימון */
    left: 50%; /* מיקום שמאלה - במרכז */
    top: 50%; /* מיקום למעלה - במרכז */
    font-size: 2.5vw; /* גובה הסימון */
    line-height: 0; /* מיקום הסימון בתוך ה-checkbox */
    transform: translate(-50%, -50%); /* מיקום מרכזי */
    font-weight: 700;
    display: flex; /* עוזר למקם את התוכן במרכז */
    justify-content: center; /* מיקום מרכזי */
    align-items: center; /* יישור במרכז */
}


  
  /* עיצוב רשימת המשימות */
  .tasks-list {
    list-style: none; /* הסרת נקודות מהרשימה */
    padding: 0; /* הסרת רווח פנימי */
    margin: 0; /* הסרת רווח חיצוני */
  }
  
 .task-text{
  display: inline-block;
  max-width: 80%;
  overflow-wrap: break-word;
  margin-right: 5vw;
  font-size: 1.2em;
 }

 .tasks-title{
  font-family: "Heebo";
  font-size: 1.5em;
  color: black;
  margin-top: 18vh;
  text-align: right;
  padding-right: 5%;
  margin-bottom: -2vh;

 }

.situation-description{
  position: absolute;
  text-align: center;
  font-family: "Heebo";
  right: 50%;
  transform: translateX(50%);
  width: 100vw;
  font-size: 1.2em;
  margin-top: 23vh;
}


 .back-emergency{
    text-decoration: underline;
    font-family: "Heebo";
    font-size: 1.3em;
    text-align: center;
    font-weight: bold;
    padding: 5vh;

 }

 .sub-title{
  font-family: "Heebo";
  font-size: 1.3em;
  color: black;
  margin-top: 6vh;
  text-align: right;
  padding-right: 5%;
 }

 .buffer{
    width: 100vw;
    height: 10vh;
    background-color: #00000000;
 }

 .navBtn{
  height: 4vh;
  width: auto;
 }

 .back{
  position: absolute;
  right: 6vw;
 }

 .next{
  rotate: 180deg;
  left: 4vw;
  position: absolute;

 }
 .navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 32vh;
  z-index: 1000;
}

.nav-button-container {
  text-align: center; /* Center the text under the button */
}

.nav-button-text {
position: absolute; 
 margin-top:5vh; 
 color: white;
  font-size:0.7em; 
}
.next-txt{
  position: absolute; 
  left: 2vw;
}
.back-txt{
  position: absolute; 
  right: 2vw;
}

 .icon-sce{
  position: absolute;
  margin-top: 10.5vh;
  height: 5vh;
  width: auto;
  transform: translateX(50%);
  right: 50%;
  padding-left: 5vw;
}
 
#evacution-selected {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  z-index: 2000;
  text-align: center;
  top: 57%;
  left: 50%;
  transform: translate(-50%);
  background-color: #eeeeee;
  width: 100vw;
  min-height: 110vh; /* גובה מינימלי */
  direction: rtl;
  height: auto; /* הגובה מתאים לתוכן */
}

.noted {
  margin-top: 20px;
}

.notes-title {
  display: flex;
  align-items: center;
  padding-right:5vw;
  font-family:"Heebo" ;
}

.arrow {
  margin-left: 5px; /* Space between title and arrow */
  transition: transform 0.3s ease;
}

.arrow.down {
  transform: rotate(90deg); /* Rotate for down arrow */
}

.arrow.right {
  transform: rotate(180deg);
}

.notes-list {
  list-style-type:circle;
  margin-top: 10px;
  padding-left: 20px;
  text-align: right;
  font-size: 1.2em;
  font-family: "Heebo";
}

.next-black{
  height: 4vh;
  padding: 2vw;
  width: auto;
}

.checked-title::before{
  content: '✓';
  color: rgb(34, 181, 115);
}
.checked-title{
  color: rgb(34, 181, 115);
}
}



@media screen and (min-width: 769px) and (max-width: 1024px)  {
}


@media screen and (min-width: 1025px) {
  #both-selected {
    position: absolute;
    z-index: 2000;
    text-align: center;
    top: 18.5%;
    left: 0%;
    overflow: hidden;
    background-color: #e6e2e2;
    width: 84vw;
    height: 180vh;
}



.combined-title{
  font-family: "Karantina";
  color: #6a6f77;
  font-size: 6em;
  font-weight: 500;
  margin-top: 3vh;
  position: absolute;
  width: 100vw;
  text-align: center;
  right: 50%;
  transform: translateX(50%);
}
.combined-role{
  font-family: "Karantina";
  color: #eeeeee;
  font-size: 2.5em;
  padding: 1vh;
  font-weight: 500;
  margin-top: 31vh;
  position: absolute;
  width: 100vw;
  text-align: center;
  right: 50%;
  height: 7vh;
  transform: translateX(50%);
}

.page-title{
    margin-top: 5vh;
    position: absolute;
    font-family: "Heebo";
    direction: rtl;
    right: -33vw;
    font-size: 2em;
    color: #595959;
    font-weight: 700;
    width: 100vw;
    margin-bottom: 4vh;

}



.situation-discription{
    font-family: "Heebo";
    padding-right: 5%;
    font-size: 1.2em;
    text-align: right;
    color:black
}

.tasks-list {
  list-style-type: none; /* מסיר את הסימונים המובנים של רשימה */
  padding: 0; /* מסיר ריפוד */
  margin: 0; /* מסיר רווחים */
  text-align: right; /* ממקם את כל התוכן לימין */
}

.task-item {
    display: flex; /* עושה פריסה גמישה */
    align-items: center; /* מרכז את תיבת הסימון עם התיאור */
    margin: 0.8vh; /* מרווח בין משימות */
}

.task-item input {
  margin-right: 10px; /* מרווח בין תיבת הסימון לתיאור */
}

.task-description {
  display: inline-block; /* עוזר למקם את התיאור בשורה */
}



.mine-checkbox {
    width: 5vw; /* רוחב ה-checkbox */
    height: 5vw; /* גובה ה-checkbox */
    border: 2px solid black; /* גבול שחור */
    border-radius: 0; /* לא מעוגל */
    appearance: none; /* הסרת העיצוב הסטנדרטי */
    cursor: pointer; /* מצביע על כך שניתן ללחוץ */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* צל */
    margin-right: 3vw; /* רווח מוגדל בין ה-checkbox לטקסט */
    position: relative; /* מיקום יחסי */
}

/* שינוי עיצוב ה-checkbox כאשר הוא מסומן */
.mine-checkbox:checked {
    background-color: black; /* צבע הרקע כאשר מסומן */
    border-color: black; /* שינוי צבע הגבול כאשר מסומן */
}

/* הוספת סימן V כאשר ה-checkbox מסומן */
.mine-checkbox:checked::before {
    content: '✓'; /* סימן V */
    position: absolute; /* מיקום מוחלט */
    color: white; /* צבע הסימון */
    left: 50%; /* מיקום שמאלה - במרכז */
    top: 50%; /* מיקום למעלה - במרכז */
    font-size: 2.5vw; /* גובה הסימון */
    line-height: 0; /* מיקום הסימון בתוך ה-checkbox */
    transform: translate(-50%, -50%); /* מיקום מרכזי */
    font-weight: 700;
    display: flex; /* עוזר למקם את התוכן במרכז */
    justify-content: center; /* מיקום מרכזי */
    align-items: center; /* יישור במרכז */
}


  
  /* עיצוב רשימת המשימות */
  .tasks-list {
    list-style: none; /* הסרת נקודות מהרשימה */
    padding: 0; /* הסרת רווח פנימי */
    margin: 0; /* הסרת רווח חיצוני */
  }
  
 .task-text{
  display: inline-block;
  max-width: 80%;
  overflow-wrap: break-word;
  margin-right: 5vw;
  font-size: 1.2em;
 }

 .tasks-title{
  font-family: "Heebo";
  font-size: 1.5em;
  color: black;
  margin-top: 18vh;
  text-align: right;
  padding-right: 5%;
  margin-bottom: -2vh;

 }

.situation-description{
  position: absolute;
  text-align: center;
  font-family: "Heebo";
  right: 50%;
  transform: translateX(50%);
  width: 100vw;
  font-size: 1.2em;
  margin-top: 23vh;
}


 .back-emergency{
    text-decoration: underline;
    font-family: "Heebo";
    font-size: 1.3em;
    text-align: center;
    font-weight: bold;
    padding: 5vh;

 }

 .sub-title{
  font-family: "Heebo";
  font-size: 1.3em;
  color: black;
  margin-top: 6vh;
  text-align: right;
  padding-right: 5%;
 }

 .buffer{
    width: 100vw;
    height: 10vh;
    background-color: #00000000;
 }

 .navBtn{
  height: 4vh;
  width: auto;
 }

 .back{
  position: absolute;
  right: 6vw;
 }

 .next{
  rotate: 180deg;
  left: 4vw;
  position: absolute;

 }
 .navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 32vh;
  z-index: 1000;
}

.nav-button-container {
  text-align: center; /* Center the text under the button */
}

.nav-button-text {
position: absolute; 
 margin-top:5vh; 
 color: white;
  font-size:0.7em; 
}
.next-txt{
  position: absolute; 
  left: 2vw;
}
.back-txt{
  position: absolute; 
  right: 2vw;
}

 .icon-sce{
  position: absolute;
  margin-top: 5vh;
  height: 8vh;
  width: auto;
  transform: translateX(50%);
  right: 40%;
  padding-left: 5vw;
}
 
#evacution-selected {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  z-index: 2000;
  text-align: center;
  top: 57%;
  left: 50%;
  transform: translate(-50%);
  background-color: #eeeeee;
  width: 100vw;
  min-height: 110vh; /* גובה מינימלי */
  direction: rtl;
  height: auto; /* הגובה מתאים לתוכן */
}

.noted {
  margin-top: 20px;
}

.notes-title {
  display: flex;
  align-items: center;
  padding-right:5vw;
  font-family:"Heebo" ;
}

.arrow {
  margin-left: 5px; /* Space between title and arrow */
  transition: transform 0.3s ease;
}

.arrow.down {
  transform: rotate(90deg); /* Rotate for down arrow */
}

.arrow.right {
  transform: rotate(180deg);
}

.notes-list {
  list-style-type:circle;
  margin-top: 10px;
  padding-left: 20px;
  text-align: right;
  font-size: 1.2em;
  font-family: "Heebo";
}

.next-black{
  height: 4vh;
  padding: 2vw;
  width: auto;
}

.checked-title::before{
  content: '✓';
  color: rgb(34, 181, 115);
}
.checked-title{
  color: rgb(34, 181, 115);
}

}