.homepage-container {
    position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      z-index: 2000; /* Ensure it appears above the header */
      text-align: right;
      padding-top: 2vh;
      overflow: scroll;
    }
    
    @media screen and (max-width: 768px) {
        .pdf-title {
          font-family: "karantina";
          font-size: 3.5em;
          font-weight: 400;
          position: absolute;
          right: 50%;
          transform: translateX(50%);
          width: 90vw;
          margin-top: 13vh;
          text-align: center;
        }
      
        .pdf-list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            margin-top: 62%;
            justify-items: center;
        }
      
        .pdf-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
        }
      
        .pdf-link {
          text-decoration: none;
          color: #000;
          font-size: 16px;
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          width:30vw;
        }
      
        .pdf-icon {
          width: auto;
          height: 10vh;
        }
      
        .pdf-text {
          font-size: 16px;
        }
      
        /* עיצוב עבור המקרה של 5 פריטים - שורה של 2 ואז אחד באמצע */
        .pdf-list > .pdf-item:nth-child(5) {
          grid-column: span 2; /* הפריט החמישי יימתח על 2 עמודות */
        }
      }
      
    
    @media screen and (min-width: 769px) and (max-width: 1024px)  {
        .pdf-list {
            display: flex;
            flex-direction: column;
            gap: 20px;
          }
          
          .pdf-item {
            display: flex;
            align-items: center;
            gap: 10px;
          }
          
          .pdf-link {
            text-decoration: none;
            color: #000;
            font-size: 18px;
          }
          
          .pdf-icon {
            width: 30px;
            height: 30px;
          }
          
    }
    
    @media screen and (min-width: 1025px) {
      .pdf-title {
        font-family: "karantina";
        font-size: 10em;
        font-weight: 400;
        position: absolute;
        right: 50%;
        transform: translateX(50%); /* שינוי פה */
        width: 90vw;
        margin-top: 13vh;
        text-align: center;
      }
      .pdf-list {
        display: flex;
        flex-direction: row;
        justify-content: center; /* מרכז את הפריטים */
        gap: 5vw;
        width: 100vw;
        margin-top: 33vh;
        align-items: center; /* מוודא שהאייקונים והטקסט ממורכזים */
      }
      
      .pdf-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        justify-content: center; /* ממקם את האלמנטים במרכז גם בציר האנכי */
      }
      
      
      .pdf-link {
        text-decoration: none;
        color: #000;
        font-size: 18px;
      }
      
      .pdf-icon {
        width: 6vw;
        height: auto;
      }
      
      
          
    }