
@media screen and (max-width: 768px) {

#roles-container {
    position: ABSOLUTE;
    z-index: 2000;
    text-align: center;
    top: 55%;
    left: 50%;
    transform: translate(-50%);
    overflow: hidden;
    background-color: #e6e2e2;
    width: 100vw;
    height: 70vh;
}
#buttons-container {
  position: relative;
  margin-top: 7vh;
  width: 100vw;
  height: 37vh;
  border-radius: 50%;
  display: flex
;
  justify-content: center;
  align-items: center;
  right: 50%;
  transform: translateX(50%);
  }
  
  .role-button {
    position: absolute;
    width: 36vmin; /* גודל רחב יותר */
    height: 17vmax; /* גובה גבוה יותר */
    color: white;
    text-align: center;
    line-height: 10vh; /* ממרכז את הטקסט בגובה */
    font-family: "Heebo";
    font-weight: 600;
    font-size: 1.2em; /* גודל גופן גדול יותר */
    border: none;
    cursor: pointer;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%); /* צורת משושה */
}

  .role-button:nth-child(1) {
    top: 19%; /* Positioning the first button towards the top */
    left: 50%;
    transform: translateX(-50%);
  }
  
  /* Second button to the left of the center */
  .role-button:nth-child(2) {
    top: 42%; /* Positioning the button below the center one */
    left:4%;
  }
  
  /* Third button to the right of the center */
  .role-button:nth-child(3) {
    top: 42%; /* Same height as the second button */
    right: 4%; /* Move it towards the right side */
  }
  
  /* Fourth button below the second */
  .role-button:nth-child(4) {
    top: 89%; /* Positioning further down */
    left: 4%; /* Left alignment */
  }
  
  /* Fifth button below the third */
  .role-button:nth-child(5) {
    top: 89%; /* Same height as the fourth button */
    right: 4%; /* Right alignment */
  }
  
  /* Sixth button centered below all */
  .role-button:nth-child(6) {
    top: 113%; /* Bottom alignment */
    left: 50%;
    transform: translateX(-50%);
  }
  
  .role-button:nth-child(7) {
    top: 66%;
    left: 50%;
    transform: translateX(-50%);
  }
  

  

  .selected-icon{
    height: 6vh;
    transform: translateX(50%);
    right: 50%;
    margin-top: 4vh;
    position: absolute;
  }

  .selected-name{
    font-family: "Karantina";
    color: #595959;
    font-size: 2em;
    position: absolute;
    right: 50%;
    width: 50vw;
    transform: translateX(50%);
    text-align: center;
    margin-top: 0vh;
    font-weight: bold;
  }
 

  .scen-selected{
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    margin-top: 3vh;
  }

  

  .next-btnev{
    background-color: #1bbfe5;
    border: none;
    border-radius: 55px;
    width: 62vw;
    height: 6vh;
    position: absolute;
    font-size: 1.2em;
    font-family: "Heebo";
    font-weight: bold;
    color: #ffffff;
    padding: 1.5vw;
    right: 50%;
    transform: translateX(50%);
    margin-top: 59vh;
  }

  .scenrio-name{
    position: absolute;
    font-size: 1.7em;
    font-family: 'HEEBO';
    font-weight: bold;
    color: #6a6f77;
    margin-top: 11vh;
    right: 50%;
    transform: translateX(50%);

}
  
  .scenrio-icon{
    height: 6vh;
    position: absolute;
    margin-top: 0.1vh;
    width: auto;
    right: 50%;
    transform: translateX(50%);
  }
  .evacuation-dis{
    font-size: 1.2em;
    position: absolute;
    direction: rtl;
    margin-top: 25vh;
    color: #656565;
  }

  .specialRole-button{
    width: 25vw;
  height: 35vw;
  border: none;
  border-radius: 0% 0% 60% 0;
  margin-top: -45vh;
  left: 0vw;
  position: absolute;
  font-family: "Heebo";
  font-size: 1em;
  color: white;
  }
}
 
@media screen and (min-width: 769px) and (max-width: 1024px)  {
}


@media screen and (min-width: 1025px) {
  #roles-container {
    position: ABSOLUTE;
    z-index: 2000;
    text-align: center;
    top: 18.5%;
    left: 0%;
    overflow: hidden;
    background-color: #e6e2e2;
    width: 84vw;
    height: 85vh;
}
#buttons-container {
  position: relative;
  right: 7vw;
  margin-top: 22vh;
  width: 80vw;
  height: 37vh;
  border-radius: 50%;
  display: flex
;
  justify-content: center;
  align-items: center;

  }
  
  .role-button {
    position: absolute;
    width: 15vw; /* גודל רחב יותר */
    height: 15vw; /* גובה גבוה יותר */
    color: white;
    text-align: center;
    line-height: 10vh; /* ממרכז את הטקסט בגובה */
    font-family: "Heebo";
    font-weight: 600;
    font-size: 2em; /* גודל גופן גדול יותר */
    border: none;
    cursor: pointer;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%); /* צורת משושה */
}

.role-button:nth-child(1) {
  top: -9%;
  left: 67%;
}   
  
  /* Second button to the left of the center */
  .role-button:nth-child(2) {
    top: 70%;
    left: 37%;
}
  
  /* Third button to the right of the center */
  .role-button:nth-child(3) {
    top: 68%;
    right: 14%;
}
  /* Fourth button below the second */
  .role-button:nth-child(4) {
    top: 31%;
    left: 22%;
}
  
  /* Fifth button below the third */
  .role-button:nth-child(5) {
    top: 30%;
    right: -1%;
}
  
  /* Sixth button centered below all */
  .role-button:nth-child(6) {
    top: -8%;
    left: 37%;
}
  
.role-button:nth-child(7) {
  top: 29%;
  left: 52%;
} 
  
  .role-button:hover {
    cursor: pointer;
    filter: brightness(0.9); /* 80% מהבהירות המקורית */
}
  

  .selected-icon{
    position: absolute;
    height: 8vh;
    right: 5%;
    transform: translateX(50%);
    margin-top: -1vh;
    position: absolute;
  }

  .selected-name{
    font-family: "Karantina";
    color: #6a6f77;
    font-size: 6em;
    position: absolute;
    width: 70vw;
    right: 50%;
    transform: translateX(50%);
    text-align: center;
    margin-top: -4vh;
  }
  .evacution-dis{
    font-family: "Heebo";
    font-size: 1.2em;
    color: #323030;
  }

  .scen-selected{
    position: absolute;
    width:40vw;
    right: 50%;
    transform: translateX(50%);
    margin-top: 3vh;
  }

  #evacuation{
    position: relative;
    top: -4vh;
    width: 100vw;
    height: 37vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .next-btnev{
    background-color: #1bbfe5;
    border: none;
    border-radius: 55px;
    width: 40vw;
    height: 6vh;
    position: absolute;
    font-size: 2em;
    font-family: "Heebo";
    font-weight: bold;
    color: #ffffff;
    right: 50%;
    transform: translateX(40%);
    margin-top: 59vh;
    cursor: pointer;
  }
  .next-btnev:hover{
    background-color: #179cb9;

  }
  

  .scenrio-name{
    position: absolute;
    font-size: 2em;
    font-family: 'HEEBO';
    font-weight: bold;
    color: #6a6f77;
    margin-top: 16vh;
    right: 50%;

}
  
  .scenrio-icon{
    height: 15vh;
    position: absolute;
    margin-top: 0.1vh;
    width: auto;
    right: 50%;
  }
  .evacuation-dis{
    font-size: 1.5em;
    position: absolute;
    direction: rtl;
    margin-top: 30vh;
    color: #656565;
    right: 50%;
    transform: translateX(40%);
  }
}