#combined-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    z-index: 2000;
    text-align: center;
    top: 57%;
    left: 50%;
    transform: translate(-50%);
    background-color: #eeeeee;
    width: 100vw;
    min-height: 110vh; /* גובה מינימלי */
    direction: rtl;
    height: auto; /* הגובה מתאים לתוכן */
}


.combined-title{
  font-family: "Karantina";
  color: #6a6f77;
  font-size: 3.2em;
  padding: 1vh;
  font-weight: 500;
  margin-top: 10vh;
  position: absolute;
  width: 100vw;
  text-align: center;
  right: 50%;
  transform: translateX(47%);
}
.combined-role{
    font-family: "Karantina";
    color: #eeeeee;
    font-size: 2.5em;
    padding: 1vh;
    font-weight: 500;
    margin-top: 20vh;
    position: absolute;
    width: 100vw;
    text-align: center;
    right: 50%;
    transform: translateX(50%);
}

.page-title{
       margin-top: 5vh;
    position: absolute;
    font-family: "Heebo";
    direction: rtl;
    font-size: 1.2em;
    color: #595959;
    font-weight: 700;
    width: 100vw;
    margin-bottom: 4vh;

}

.background-situation{
    font-family: "Heebo";
    font-size: 1.7em;
    color:black;
    margin-top: 20vh;
    text-align: right;
    padding-right: 5%;

}

.situation-discription{
    font-family: "Heebo";
    padding-right: 5%;
    font-size: 1.2em;
    text-align: right;
    color:black
}

.tasks-list {
  list-style-type: none; /* מסיר את הסימונים המובנים של רשימה */
  padding: 0; /* מסיר ריפוד */
  margin: 0; /* מסיר רווחים */
  text-align: right; /* ממקם את כל התוכן לימין */
}

.task-item {
    display: flex; /* עושה פריסה גמישה */
    align-items: center; /* מרכז את תיבת הסימון עם התיאור */
    margin: 0.8vh; /* מרווח בין משימות */
}

.task-item input {
  margin-right: 10px; /* מרווח בין תיבת הסימון לתיאור */
}

.task-description {
  display: inline-block; /* עוזר למקם את התיאור בשורה */
}



.mine-checkbox {
    width: 5vw; /* רוחב ה-checkbox */
    height: 5vw; /* גובה ה-checkbox */
    border: 2px solid black; /* גבול שחור */
    border-radius: 0; /* לא מעוגל */
    appearance: none; /* הסרת העיצוב הסטנדרטי */
    cursor: pointer; /* מצביע על כך שניתן ללחוץ */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* צל */
    margin-right: 3vw; /* רווח מוגדל בין ה-checkbox לטקסט */
    position: relative; /* מיקום יחסי */
}

/* שינוי עיצוב ה-checkbox כאשר הוא מסומן */
.mine-checkbox:checked {
    background-color: black; /* צבע הרקע כאשר מסומן */
    border-color: black; /* שינוי צבע הגבול כאשר מסומן */
}

/* הוספת סימן V כאשר ה-checkbox מסומן */
.mine-checkbox:checked::before {
    content: '✓'; /* סימן V */
    position: absolute; /* מיקום מוחלט */
    color: white; /* צבע הסימון */
    left: 50%; /* מיקום שמאלה - במרכז */
    top: 50%; /* מיקום למעלה - במרכז */
    font-size: 2.5vw; /* גובה הסימון */
    line-height: 0; /* מיקום הסימון בתוך ה-checkbox */
    transform: translate(-50%, -50%); /* מיקום מרכזי */
    font-weight: 700;
    display: flex; /* עוזר למקם את התוכן במרכז */
    justify-content: center; /* מיקום מרכזי */
    align-items: center; /* יישור במרכז */
}


  
  /* עיצוב רשימת המשימות */
  .tasks-list {
    list-style: none; /* הסרת נקודות מהרשימה */
    padding: 0; /* הסרת רווח פנימי */
    margin: 0; /* הסרת רווח חיצוני */
  }
  
 .task-text{
    display: inline-block; /* עוזר למקם את התיאור בשורה */
    max-width: 70%; /* רוחב מקסימלי כדי למנוע מהטקסט לתפוס יותר מדי מקום */
    overflow-wrap: break-word; /* מאפשר שbירה של מילים כאשר יש טקסט ארוך */
    margin-right: 5vw; /* רווח נוסף בין ה-checkbox לטקסט */
    font-size: 1em; /* גודל הפונט */
 }

 .tasks-title{
    font-family: "Heebo";
    font-size: 1.3em;
    color: black;
    margin-top: 6vh;
    text-align: right;
    padding-right: 5%;
 }

 .back-emergency{
    text-decoration: underline;
    font-family: "Heebo";
    font-size: 1.3em;
    text-align: center;
    font-weight: bold;
    padding: 5vh;

 }

 .sub-title{
    font-family: "Heebo";
    font-size: 1em;
    color: black;
    margin-top: 6vh;
    text-align: right;
    padding-right: 5%;
 }

 .buffer{
    width: 100vw;
    height: 10vh;
    background-color: #00000000;
 }

 .navBtn{
  height: 5vh;
  width: auto;
 }

 .back{
  right: 10vw;
  margin-top: 22vh;
  position: absolute;
 }

 .next{
  position: absolute;
  margin-top: 22vh;
  rotate: 180deg;
  left: 10vw;
 }

 .icon-sce{
  position: absolute;
    margin-top: 12vh;
    height: 6vh;
    width: auto;
    right: 27vw;
}
 