#emergency-container {
    position: absolute;
    z-index: 2000;
    text-align: center;
    top: 57%;
    left: 50%;
    transform: translate(-50%);
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #eeeeee;
    width: 100vw;
    height: 85vh;

}
.instruction{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 100vw;
    font-size: 1.2em;
    font-family: "heebo";
    margin-top: 5vh;
}

.button {
    width: 80vw; 
    margin: 10px 0; 
    padding: 10px; 
    font-size: 16px; 
    cursor: pointer; 
    color:white;
    border-radius: 15px;
    height:6.5vh;
    border: none;
    font-family: "Heebo";
    font-weight: 600;
    font-size: 1.4em;
    
}

.buttons-sec{
    position: absolute;
    margin-top: 13vh;

}

.button-icon{
    position: absolute;
    height:4.2vh;
    right:15%;
}