 .homepage-container {
   position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 2000; /* Ensure it appears above the header */
  text-align: right;
  padding-top: 2vh;
  overflow: scroll;
}




.home-title{
    font-family: "karantina";
    font-size: 3.5em;
    font-weight: 400;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    width: 90vw;
    margin-top: 13vh;
    text-align: center;

}

.info1{
    font-family: "Heebo";
    font-size: 1.3em;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    width: 90vw;
    margin-top: 36vh;
    text-align: center;

}
.home-button {
    background-color: #1bbfe5;
    border: none;
    border-radius: 55px;
    width: 75vw;
    height: 10vh;
    position: absolute;
    font-size: 2em;
    font-family: "Karantina";
    font-weight: bold;
    color: #ffffff;
    padding: 1.5vw;
    right: 50%;
    transform: translateX(50%);
    margin-top: 52vh;
    box-shadow: 9px 10px 20px #323030,   /* צל ראשי */
                -3px -3px 5px rgba(255, 255, 255, 0.2); /* צל נוסף להבהרה */
}




.greeting-div{
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    width:100vw;
    margin-top: 78vh;
    height:90vh;
}

.greeting{
    position: absolute;
    color: black;
    font-weight: bold;
    right: 50%;
    transform: translateX(50%);
    width: 98vw;
    font-size: 1em;
    text-align: center;
    margin-top: 5vh;
}

.tzahi-text{
    position: absolute;
    height: 17vh;
    width: auto;
    margin-top: 16vh;
    right: 50%;
    transform: translateX(50%);
}



.socity-logo{
    position: absolute;
    height:5vh;
    width: auto;
    right:5vw;
    margin-top: 45vh;
}

.pakar-logo{
    position: absolute;
    height:7vh;
    width: auto;
    right:46vw;
    margin-top: 45vh;
}
.pakar-grey{
    position: absolute;
    height:7vh;
    width: auto;
    right:63vw;
    margin-top: 45vh;
}

.comunity-logo{
    position: absolute;
    height:7vh;
    width: auto;
    right:80vw;
    margin-top: 45vh;
}

.collage-logo{
    position: absolute;
    height: 15vh;
    width: auto;
    margin-top: 54vh;
    right: 50%;
    transform: translateX(50%);
}

.white-div{
    position: absolute;
    width: 100vw;
    height: 30vh;
    background-color: rgba(255, 255, 255, 0.925);
    z-index: 7;
    margin-top: 40vh;
    opacity: 0.7;
}

.credits{
    font-family: 'Heebo';
    position: absolute;
    margin-top: 139vh;
    right: 50%;
    transform: translateX(50%);
    width: 90vw;
    font-size: 1em;
    font-style: italic;
    margin-top: 70vh;
    text-align: center;
}

.tzahi-div{
    position: absolute;
    width: 100vw;
    height: 30vh;
    background-color: rgb(238, 238, 238);
    margin-top: 185vh;
    right: 50%;
    transform: translateX(50%);
    direction: rtl;
    font-family: "Heebo";
}
.bold-text{
    position: absolute;
    text-align: right;
    right: 16vw;
    font-weight: bold;
    color: rgb(86, 85, 85);
    font-size: 1.1em;
}

.regular-text{
    position: absolute;
    text-align: center;
    right: 67vw;
    font-size: 1.1em;
    color: rgb(86, 85, 85);



}

.regular-text2{
    position: absolute;
    text-align: right;
    right: 15vw;
    padding-top: 6vw;
    font-size: 1.1em;
    color: rgb(86, 85, 85);

}
.regular-text3{
    position: absolute;
    text-align: center;
    padding-top: 13vw;
    font-size: 1.1em;
    right: 50%;
    transform: translateX(50%);
    width: 100vw;
    color: rgb(86, 85, 85);


}

.underLine-text{
    position: absolute;
    text-align:center;
    right: 43vw;
    padding-top: 6vw;
    text-decoration: underline;
    font-size: 1.1em;
    color: rgb(86, 85, 85);


}

hr.dotted-line{
    border-top: 3px dotted #6d6d6d;
    position: absolute;
    margin-top: 1vh;
    right: 50%;
    transform: translateX(50%);
    width: 84vw;

}
hr.dotted-line2{
    border-top: 3px dotted #6d6d6d;
    position: absolute;
    margin-top: 95vh;
    right: 50%;
    transform: translateX(50%);
    width: 84vw;

}

.tzahi-button {
    border: none;
    border-radius: 30px;
    width: 69vw;
    height: 8vh;
    position: absolute;
    font-size: 1.3em;
    font-family: "Heebo";
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 1.5vw;
    right: 50%;
    transform: translateX(50%);
    margin-top: 18vh;
    background-color: rgb(123 122 122);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 

}

.feedback{
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    color: rgb(86, 85, 85);
    font-weight: bold;
    margin-top: 224vh;
    margin-bottom: 20vh;
    width: 90vw;
    font-size: 1.1em;
    text-align: center;
} 

.footer{
    position: absolute;
    right: 50%;
    height: 10vh;
    transform: translateX(50%);
    background-color: rgba(86, 85, 85, 0);
    font-weight: bold;
    margin-top: 232vh;
    margin-bottom: 22vh;
    width: 90vw;
    font-size: 1.1em;
}